<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Super Sprinter 3000</title>
    </head>
    <body>
        <h1>User Story Manager</h1>
        <a href='/story'>Add story</a><br>
        <br>
        <table>
            <tr>
                <th>ID</th>
                <th>Story title</th>
                <th>User story</th>
                <th>Acceptance criteria</th>
                <th>Business value</th>
                <th>Estimation</th>
                <th>Status</th>
            </tr>

            {% for record in records %}

            <tr>
                <td>{{record[0]}}</td>
                <td>{{record[1]}}</td>
                <td>{{record[2]}}</td>
                <td>{{record[3]}}</td>
                <td>{{record[4]}}</td>
                <td>{{record[5]}}</td>
                <td>{{record[6]}}</td>
                <td>
                    <a href='/story/{{record[0]}}'>
                        <img src='http://healthnudge.jp/assets/img/app/icon/icon-pen.png?1487739808'></img>
                    </a>
                    <a href='/remove-story/{{record[0]}}'>
                        <img src='https://jobs.ucsd.edu/images/icon_closeX.png'></img>
                    </a>
                </td>
            </tr>
            
            {% endfor %}

        </table>
    </body>
</html>
